nav{
  background: #110c31;   
}
.hero-container {
  position: relative;
  width: 100%;
  height: 530px; /* Adjust the height as needed */
  background-image: url('/bg1.jpg');
  background-size: cover;
  background-position: center;  
}

.hero-container::before {
  color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #150F3DCC, #150F3D); 
}

.about-section{  
  background: rgb(181,196,194);
  background: linear-gradient(90deg, rgba(181,196,194,1) 0%, rgba(238,240,226,1) 50%, rgba(168,186,186,1) 100%); 
}

blockquote{
  font-size: 1.4em;
  width:100%;  
  margin:0;
  font-family: 'Edu SA Beginner', cursive;  
  color: #0a2a3f;
  padding:2px;  
  line-height:1.6;
  position: relative;    
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgb(102, 16, 16);
  font-size:4em;
  position: absolute;
  left: -15px;
  top:-75px;
}

blockquote span{
  display:block;
  color:#0a2a3f;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
  position: absolute;
  text-align:end;  
  width: 100%;  
}

blockquote::after{
  font-family:Arial;
  content: "\201D";
  color:rgb(102, 16, 16);
  font-size:4em;
  position: absolute;
  right: 10px;  
  bottom: -105px;
}

.footer-section{
  background: rgb(0,40,56);
  background: linear-gradient(90deg, rgba(0,40,56,1) 0%, rgba(84,57,119,1) 50%, rgba(0,40,56,1) 100%);
  color: #fff;
}

